.container-my-habilidades {
    max-width: 1200px;
    margin: 0 auto;
    color: #4CAF50;
    padding: 20px;
    

}

.habilidades {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 8px rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.068);
    padding: 20px;

}

.icon-habilidades {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    
    
}

.icon-hab {
    width: 50%;
    
}

.item-habilidades {
    
    margin-top: 20px;
    width: 120px;
    height: 120px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 2px 2px 8px rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.068);
    transition: all 1s linear;

}


.item-habilidades:hover {
    transition: transform 0.5s;
    transform: scale(1.1);
    color: rgb(19, 18, 18);
    background: rgba(255, 255, 255, 0.281);
    /* animation: changeColor 2s infinite;*/
}


@keyframes borderColor {
    0% {
        border-bottom: 5px solid red;
    }

    25% {
        border-left: 5px solid #39B5E0;
    }

    50% {
        border-right: 5px solid #df2b7f;
    }

    100% {
        border-top: 5px solid #400D51;
    }
}


.item-habilidades p {
    text-align: center;
}