.nav-bar {
    height: auto;
    position: fixed;
   
    left: 0;
    right: 0;
    top: 30%;
    border-radius: 0px 20px 20px 0px;
    box-shadow: 2px 2px 8px  #fafafa;
    background: rgb(1, 1, 24);
   
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    justify-content: space-evenly;
    transition: all 1s linear;
    z-index: 3;
    width: 90px;
    

}
.nav-bar:hover {
    background: rgba(1, 1, 24, 0.932);
    
}

@keyframes changeColor{
    0%{
        background: #A31ACB; 
    }
    50%{
        background: #39B5E0; 
    }
    100%{
        background:#400D51; 
    }
}

.nav-bar-close {
    transition: all 1s linear;
    height: 0;
}

.container-item-nav {
    text-decoration: none;
    text-align: center;
    color: #FF5722;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 300;



}

.container-item-nav:hover {
    transform: translateY(-10px);
    transition: all 0.2s;
    
}

.container-item-nav p {
    
    font-size: 0.6rem;
    text-transform: uppercase;
}

.icon-menu {
    width: 5vmin;
    
}