.header {
  /*background-image: url('/src/assets/imag/fon-porta.jpg');*/
  background: linear-gradient(90deg, rgb(37, 81, 126) 25%, rgba(55, 75, 146, 0.972) 100%, rgba(95, 107, 150, 0.9416141456582633) 100%);
}

.capa-header {
  height: 6vmax;
  display: flex;
  justify-content: start;
  align-items: center;
  background: rgba(255, 255, 255, 0.068);
  border-bottom: 2px solid rgba(255, 255, 255, 0.39);


}

.name-logo {
  font-weight: 500;
  color: rgb(255, 255, 255);
  margin-left: 20px;
  /*-webkit-text-stroke: 0.5px rgb(255, 255, 255);*/

  /* animation: animilogo 2s infinite ;*/

}

/*
@keyframes animilogo {
  0% {
      transition: transform 0.5s;
      transform: scale(1);
  }

  50% {
      transition: transform 0.5s;
      transform: scale(0.9);
  }
}
*/


.main {


  background: linear-gradient(90deg, rgb(37, 81, 126) 25%, rgba(55, 75, 146, 0.972) 100%, rgba(95, 107, 150, 0.9416141456582633) 100%);
  /*background-image: url('/src/assets/imag/fon-porta.jpg');*/

}


.container-acerca-de-mi {
  max-width: 800px;
  margin: 0 auto;
  color: white;
  padding: 20px;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 5px;

  box-shadow: 2px 2px 8px rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0.068);
  padding: 20px;

}

.titulo {
  text-shadow: 2px 2px 8px rgb(37, 37, 37);
  text-align: center;
  font-weight: 400;
  font-size: 5vmin;
}

.description-acerca-de-mi p {
  text-align: justify;
  font-weight: 100;
  line-height: 25px;

}

.container-cv {
  max-width: 800px;
  margin: 0 auto;

  padding: 20px;
}

.cv {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 5px;
  box-shadow: 2px 2px 8px rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0.068);

  animation: animcv 3s infinite;
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
}

.icon-cv {
  width: 40px;
}

@keyframes animcv {
  0% {
    transition: transform 0.5s;
    transform: scale(1);
  }

  50% {
    transition: transform 0.5s;
    transform: scale(0.7);
  }
}