.container-eperiencias{
    max-width: 800px;
    margin: 0 auto;
    color: white;
    padding: 20px;
   
}

.experiencias{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 8px rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.068);
    padding: 20px;
}

.container-item-experiencia{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 10px;
   
}

.item-experiencia{
    display: flex;
    border-radius: 5px;
    box-shadow: 2px 2px 8px rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.068);
    padding: 20px;
}

.anio{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    
}
.academia{
    display: flex;
    flex-direction: column;
    width: 70%;
    font-weight: 300;
    
}

.academia h4{
    font-weight: 500;
}

.item-experiencia:hover{
    transition: transform 0.5s;
    transform: scale(0.80);
    
}
