.container-portafolio{
    max-width: 1200px;
    margin: 0 auto;
    color: white;
    padding: 20px;

}

.portafolio{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 8px rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.068);
    padding: 20px;

   
}

.container-item-portafolio{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px ;
    justify-content: center;
    align-items: center;
   
}
.item-portafolio{
    width: 250px;
    height: 300px;
    padding: 5px;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 2px 2px 8px rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.068);
    
    cursor: pointer;

    display: flex;
    flex-direction: column;
    gap: 30px;
}

.video{
   
    border-radius: 5px;
    box-shadow: 2px 2px 8px rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.068);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.digital-arch{
    width: 100%;
}
.description{
    background: yellow;
   
    
}

